@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day"></div>
            </div>
            <div class="details">
                <span class="artist"></span>
                <span class="genre"></span>
            </div>
        </li>
    }
</ul>