@model GigHub.Models.Doctor
@{
    ViewBag.Title = "ViewDoctor";
}

<h2>ViewDoctor</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user-md" aria-hidden="true"></i>&nbsp;Doctor Info</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="doctor-info col-md-8">
                @Model.FullName
            </div>
            <div class="doctor-attitudes col-md-4">
                md 4
            </div>
        </div>
    </div>
</div>
